<a href="https://colab.research.google.com/github/CikeeY/Mindbox_1geom_2pySpark_/blob/main/pySpark_Mindbox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://mirror.its.dal.ca/apache/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xvf spark-3.5.0-bin-hadoop3.tgz
!pip install -q findspark

In [2]:
import os

In [3]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

In [4]:
import findspark
findspark.init()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [6]:
Products = spark.createDataFrame([
    ('1', 'product_1'),
    ('2', 'product_2'),
    ('3', 'product_3'),
    ('4', 'product_4'),
    ('5', 'product_5'), ],
    ['key', 'nameProduct'])
Products.createOrReplaceTempView("Products")

Categories = spark.createDataFrame([
    ('1', 'category_1'),
    ('2', 'category_2'),
    ('3', 'category_3'),
    ('4', 'category_4'),
    ('5', 'category_5'), ],
    ['key', 'nameCategory'])
Categories.createOrReplaceTempView("Categories")

Dependencies = spark.createDataFrame([
    ('1', '1'),
    ('1', '2'),
    ('2', '2'),
    ('2', '3'),
    ('3', '3'),
    ('3', '4'),
    ('4', '4'),
    ('4', '5')],
    ['keyProduct', 'keyCategory'])
Dependencies.createOrReplaceTempView("Dependencies")

spark.sql(""" SELECT Products.nameProduct, Categories.nameCategory
              FROM Products
                  LEFT JOIN Dependencies
                      ON Products.key=Dependencies.keyProduct
                  LEFT JOIN Categories
                      ON Categories.key=Dependencies.keyCategory
                  ORDER BY Products.nameProduct; """) \
     .show()

+-----------+------------+
|nameProduct|nameCategory|
+-----------+------------+
|  product_1|  category_2|
|  product_1|  category_1|
|  product_2|  category_3|
|  product_2|  category_2|
|  product_3|  category_4|
|  product_3|  category_3|
|  product_4|  category_5|
|  product_4|  category_4|
|  product_5|        NULL|
+-----------+------------+